/* Call to action ----- */

.callToActionCont {
  height: auto;
  width: 100vw;
  padding-top: 1px;
}
.callToActionCont .callToActionTitle {
  text-align: center;
  font-size: 25px;
}
.callToActionCont .callToActionTextCont {
  padding: 0 50px 50px 50px;
  display: flex;
}
.callToActionCont .columnCont {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 25px;
}
.callToActionCont .columnCont p {
  text-align: center;
}
.callToActionCont .signinUserImg, 
.callToActionCont .signinOrgImg {
  width: 250px;
  margin: 0 auto;
}
.callToActionCont .signinUserImg {
  background-image: url("/src/images/process/user/1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 30vw;
}
.callToActionCont .signinUserImg:hover {
  background-image: url("/src/images/process/user/2.svg");
}
.callToActionCont .signinOrgImg {
  background-image: url("/src/images/process/org/1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
}
.callToActionCont .signinOrgImg:hover {
  background-image: url("/src/images/process/org/2.svg");
}
.signinUser, .signinOrg {
  border: none;
  height: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 85%;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 10px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  margin: 0 auto 10px auto;
}
.signinUser {
  background-color: var(--red);
  color: var(--white);
}
.signinOrg {
  background-color: var(--dark-blue);
  color: var(--white);
}
.signinUser:hover .signinUserImg {
  background-image: url("/src/images/process/user/2.svg");

}