/* Card ------- */

.cardStackCont .cardCont {
  width: 80vw;
  height: calc(80vh - 85px);
  background-color: white;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  padding: 35px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 0px;
}
.cardStackCont .bottomCardCont {
  box-shadow: 1px 7px 15px var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardStackCont .profileCont {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
}
.cardStackCont .cardCont .imgCont {
  margin-right: 30px;
  flex: 1;
}
.cardStackCont .cardCont .profileImg {
  width: auto;
  max-width: 100%;
  max-height: calc(80vh - 100px);
}
.cardStackCont .cardCont .textCont {
  flex: 1;
}
.cardStackCont .cardCont .profileName {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 25px;
}
.cardStackCont .cardCont .profileId {
  margin-top: 0;
}
.cardStackCont .cardCont .profileDays {
  margin-bottom: 10px;
}
.cardStackCont .cardCont .profileLocation {
  margin-top: 0;
}
.cardStackCont .cardCont .profileStory {
  text-align: justify;
  overflow-y: scroll;
  height: 150px;
}
/* .cardCont button {
  background-color: gray;
  color: white;
  border: 1px solid;
} */
.cardStackCont .cardCont button:focus {
  background-color: gainsboro;
  border: 1px solid;
}
.cardStackCont .cardCont .addedButton {
  opacity: 0.6;
}



/* Draggable --------- */

.cardStackCont .currentCard {
  touch-action: none;
  user-select: none;
  z-index: 50;
  box-shadow: 1px 7px 15px var(--light-gray);
}
.cardStackCont .cardSnap {
  transition: transform 0.8s cubic-bezier(.26,1.42,.64,1);
}
.cardStackCont .nextCard {
  box-shadow: 1px 7px 15px var(--light-gray);
  z-index: 49;
}

/* Paw ------ */
.cardStackCont .actionCont {
  /* position: fixed;
  z-index: 100;
  bottom: -43px;
  right: -21px; */
}
.cardStackCont .pawCont {
  height: 200px;
  width: 110px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  transform-origin: bottom right;
  cursor: pointer;
}
.cardStackCont .leftPaw {
  position: fixed;
  z-index: 100;
  bottom: -40px;
  left: -65px;
  transform: scale(0.7) rotate(30deg);
  background-color: var(--black);
}
.cardStackCont .rightPaw {
  position: fixed;
  z-index: 100;
  bottom: -4px;
  right: -18px;
  transform: scale(0.7) rotate(-25deg);
  background-color: var(--light-gray);
}
.cardStackCont .leftPaw .c1, .cardStackCont .leftPaw .c2, .cardStackCont .leftPaw .c3, .cardStackCont .leftPaw .c4 {
  background-color: var(--white);
  width: 17px;
  height: 22px;
  border-radius: 50%;
}
.cardStackCont .rightPaw .c1, .cardStackCont .rightPaw .c2, .cardStackCont .rightPaw .c3, .cardStackCont .rightPaw .c4 {
  background-color: var(--red);
  width: 17px;
  height: 22px;
  border-radius: 50%;
}
.cardStackCont .pawCont .c1 {
  position: absolute;
  top: 27px;
  left: 15px;
  transform: rotate(-20deg);
  z-index: 5;
}
.cardStackCont .pawCont .c2 {
  position: absolute;
  top: 15px;
  left: 35px;
  transform: rotate(-10deg);
  z-index: 5;
}
.cardStackCont .pawCont .c3 {
  position: absolute;
  top: 15px;
  left: 58px;
  transform: rotate(10deg);
  z-index: 5;
}
.cardStackCont .pawCont .c4 {
  position: absolute;
  top: 27px;
  left: 78px;
  transform: rotate(20deg);
  z-index: 5;
}
.cardStackCont .leftPaw .p1, .cardStackCont .leftPaw .p2, .cardStackCont .leftPaw .p3, .cardStackCont .leftPaw .p4 {
  background-color: var(--black);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.cardStackCont .rightPaw .p1, .cardStackCont .rightPaw .p2, .cardStackCont .rightPaw .p3, .cardStackCont .rightPaw .p4 {
  background-color: var(--light-gray);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.cardStackCont .pawCont .p1 {
  position: absolute;
  top: 14px;
  left: -2px;
  z-index: 1;
}
.cardStackCont .pawCont .p2 {
  position: absolute;
  top: -2px;
  left: 20px;
  z-index: 1;
}
.cardStackCont .pawCont .p3 {
  position: absolute;
  top: -2px;
  left: 47px;
  z-index: 1;
}
.cardStackCont .pawCont .p4 {
  position: absolute;
  top: 15px;
  left: 68px;
  z-index: 1;
}
.cardStackCont .pawCont .crossCont {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 25px;
}
.cardStackCont .pawCont .cross {
  height: 60px;
}
.cardStackCont .pawCont .heartCont {
  z-index: 1;
  position: absolute;
  top: 49px;
  left: 26px;
}
.cardStackCont .pawCont .heart {
  height: 60px;
}
.cardStackCont .pawCont:hover .heart, .cardStackCont .pawCont:hover .cross {
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.cardStackCont .leftHeart {
  fill: var(--white);
}
.cardStackCont .rightHeart {
  fill: var(--red);
}