/* Card ------- */

.cardStackCont .cardCont {
  width: 80vw;
  height: calc(80vh - 100px);
  background-color: white;
  margin: 80px auto;
  display: flex;
  padding: 35px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.cardStackCont .bottomCardCont {
  box-shadow: 1px 7px 15px var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardCont .imgCont {
  margin-right: 30px;
  flex: 1;
}
.cardCont .profileImg {
  width: auto;
  max-width: 100%;
  max-height: calc(80vh - 100px);
}
.cardCont .textCont {
  flex: 1;
}
.cardCont .profileName {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 25px;
}
.cardCont .profileId {
  margin-top: 0;
}
.cardCont .profileDays {
  margin-bottom: 10px;
}
.cardCont .profileLocation {
  margin-top: 0;
}
.cardCont .profileStory {
  text-align: justify;
  overflow-y: scroll;
  height: 100px;
}
/* .cardCont button {
  background-color: gray;
  color: white;
  border: 1px solid;
} */
.cardCont button:focus {
  background-color: gainsboro;
  border: 1px solid;
}
.cardCont .addedButton {
  opacity: 0.6;
}


/* Draggable --------- */

.cardStackCont .currentCard {
  touch-action: none;
  user-select: none;
  z-index: 50;
  box-shadow: 1px 7px 15px var(--light-gray);
}
.cardStackCont .cardSnap {
  transition: transform 0.8s cubic-bezier(.26,1.42,.64,1);
}
.cardStackCont .nextCard {
  box-shadow: 1px 7px 15px var(--light-gray);
  z-index: 49;
}