/* Landing Cont -------- */
.landingCont {
  margin-top: 50px;
}
.landingCont .backgroundImg {
  width: 100vw;
  position: absolute;
  top: 80px;
  z-index: -50;
}
.foregroundCont .lamppost {
  height: 30vw;
  position: absolute;
  top: 82px;
  left: 90px;
}