/* New ---------- */

.likePageCont .overviewTopCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55px;
  grid-gap: 1rem;
  width: 100%;
}
.likePageCont .overviewBox  {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid var(--red);
  color: var(--red);
  font-weight: bold;
}
.likePageCont .overviewBox:hover, .likePageCont .activeTab {
  box-shadow: 1px 2px 10px var(--light-gray);
  background-color: var(--red);
  color: var(--white);
}
.likePageCont .notificationCont {
  background-color: var(--red);
  color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding-top: 1px;
  box-sizing: border-box;
  padding-right: 1px;
}
.likePageCont .overviewBox:hover .notificationCont, .likePageCont .activeTab .notificationCont {
  background-color: var(--white);
  color: var(--red);
}


/* Adoption Form ----- */
.adoptFormCont {
  padding: 20px 15px;
}
.adoptFormCont .formTitle {
  font-size: 16px;
  color: var(--white);
  background-color: var(--red);
  border-radius: 10px;
  padding: 9px;
  text-align: center;
  font-weight: bold;
}
.adoptFormCont .inputCont {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.adoptFormCont .inputCont label {
  width: 120px;
}
.adoptFormCont .inputCont input {
  flex: 2;
  height: 25px;
  box-shadow: inset 1px 1px 4px var(--light-gray);
  border: none;
  border-radius: 10px;
  padding: 3px 15px;
}
.adoptFormCont .inputCont input:focus {
  outline: transparent;
}
.adoptFormCont .inputCont textarea {
  flex: 2;
  height: 150px;
  box-shadow: inset 1px 1px 4px var(--light-gray);
  border: none;
  border-radius: 10px;
  padding: 15px;
  white-space: pre-wrap;
}
.adoptFormCont .inputCont textarea:focus {
  outline: transparent;
}
.adoptFormCont .radioCont .radioLabel {
  cursor: pointer;
  margin-right: 10px;
}
.adoptFormCont .radioCont .radioLabel input {
  margin-right: 10px;
}
.adoptFormCont .selectCont select{
  height: 30px;
  box-shadow: inset 1px 1px 4px var(--light-gray);
  border: none;
  border-radius: 10px;
  padding: 3px 15px;
}
.adoptFormCont .selectCont select:focus {
  outline: transparent;
}
.adoptFormCont .formButtonCont {
  display: flex;
  justify-content: flex-end;
}
.adoptFormCont .cancelButton {
  height: 30px;
  padding: 0 20px;
  letter-spacing: 1px;
  font-weight: bold;
  float: right;
  border-radius: 10px;
  background-color: var(--gray);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}
.adoptFormCont .submitButton {
  height: 30px;
  padding: 0 20px;
  letter-spacing: 1px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--red);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
}
.adoptFormCont .submitButton:focus {
  outline: transparent;
}



/* Origial ----- */
.likePageCont {
  margin: 110px 60px 50px 60px;
}
.likeProfilesCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 40px 0;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.likePageCont .likeCont {
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}
.likePageCont .likeCont:hover {
  box-shadow: 1px 2px 10px var(--light-gray);
}
.likeCont .heartCont {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  background-image: url("/src/images/heart.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.likeCont .heartCont:hover {
  background-image: url("/src/images/heart-h.svg");
}
.likeCont .removeCont {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-image: url("/src/images/close-red-fill.svg"); 
  background-size: contain;
  background-repeat: no-repeat; 
  margin-left: auto;
  position: absolute;
  top: -10px;
  right: -10px;
  /* background-color: var(--red);
  border-radius: 50%; */
}
/* .likeCont .removeCont:hover {
  background-image: url("/src/images/close-red.svg");
} */
.likeCont .imgCont {
  width: 100%;
  height: 220px;
}
.likeCont .profileImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 0;
}
.likeCont .adoptedCont {
  background-color: rgba(220,220,220, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: context-menu;
  padding: 15px;
  border-radius: 10px;
}
.likeCont .adoptedCont p {
  font-weight: 900;
  font-size: 45px;
  color: var(--red);
  transform: rotate(-15deg);
  background-color: white;
  border-radius: 10px;
  padding: 0 15px;
  text-align: center;
  line-height: 65px;
}
.likeCont .adoptedCont img {
  height: 70%;
  width: 100%;
}
.likeCont .textCont {
  margin: 20px 0;
}
.likeCont .textCont .profileName {
  height: 40px;
  padding: 0 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--red);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.likeCont .textCont .labelText {
  color: var(--red);
  font-size: 14px;
}
.likeCont .textCont .profileId, 
.likeCont .textCont .profileDays, 
.likeCont .textCont .profileLocation {
  margin: 5px 0 12px 10px;
  font-size: 16px;
  line-height: 20px;
}



/* Full Profile Form ------ */
.fullProfileCont {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(92, 85, 82, 0.5);
  overflow-y: initial;  
  z-index: 999;
}
.fullProfileCont .fullProfileForm {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
  padding: 75px 50px 40px 50px;
  width: 60vw;
  height: 70vh;
  border-radius: 15px;
  box-shadow: 3px 5px 10px var( --dark-gray);
}
.fullProfileCont .formTopCont {
  background-color: var(--red);
  color: var(--white);
  height: 40px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fullProfileCont .formTopCont .formTopTitle {
  padding: 0 15px;
}
.fullProfileCont .formTopCont .closeFormButton {
  padding: 0 15px;
  cursor: pointer;
}
.fullProfileCont .formBottomCont {
  overflow-y: auto;
  height: 100%;
}
.fullProfileCont .formDataCont {
  display: flex;
  padding-right: 15px;
  padding-bottom: 15px;
}
.fullProfileCont .formDataCont .formImgCont {
  margin-right: 40px;
  flex: 1;
  position: relative;
}
.fullProfileCont .formDataCont .formImgCont img {
  width: 100%;
}
.fullProfileCont .formDataCont .formTextCont {
  flex: 1;
}
.fullProfileCont .formStoryCont {
  padding-right: 15px;
}
.fullProfileCont .formTextCont .formName {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 20px;
  color: var(--white);
  background-color: var(--red);
  border-radius: 10px;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
}
.fullProfileCont .formBottomCont .labelText {
  color: var(--red);
  font-size: 14px;
}
.fullProfileCont .formBottomCont .storyLabel {
  margin-bottom: 5px;
  display: inline-block;
}
.fullProfileCont .formTextCont .formId, 
.fullProfileCont .formTextCont .formDays,
.fullProfileCont .formTextCont .formAge, 
.fullProfileCont .formTextCont .formGender,
.fullProfileCont .formTextCont .formLocation,
.fullProfileCont .formStoryCont .formStory {
  margin: 5px 0 15px 10px;
  line-height: 20px;
}
.fullProfileCont .formStoryCont .formStory {
  line-height: 25px;
}
.fullProfileCont .adoptButton, .likeCont .adoptButton {
  height: 30px;
  padding: 0 20px;
  letter-spacing: 1px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--dark-gray);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.fullProfileCont .pendingButton, .likeCont .pendingButton {
  height: 30px;
  padding: 0 20px;
  letter-spacing: 1px;
  font-weight: bold;
  float: right;
  border-radius: 10px;
  background-color: var(--gray);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.fullProfileCont .acceptedButton, .likeCont .acceptedButton {
  height: 30px;
  padding: 0 20px;
  letter-spacing: 1px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--red);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.fullProfileCont .pendingTextCont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.fullProfileCont .pendingTextCont p {
  margin: 5px 20px;
  text-align: right;
}
/* .fullProfileCont .cancelTextCont {
  margin: 5px 20px;
}
.fullProfileCont .cancelTextCont p {
  margin: 0;
}
.fullProfileCont .cancelButtonCont {
  display: flex;
  justify-content: flex-end;
}
.fullProfileCont .cancelButton {
  padding: 5px 25px;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.fullProfileCont .cancelButtonCont .yes {
  background-color: var(--light-gray);
  color: var(--black);
}
.fullProfileCont .cancelButtonCont .no {
  background-color: var(--red);
  color: var(--white);
} */
.fullProfileCont .contactInfoCont {
  margin-right: 15px;
  margin-left: 10px;
}
.fullProfileCont .contactTitle {
  font-size: 16px;
  color: var(--white);
  background-color: var(--red);
  border-radius: 10px;
  padding: 9px;
  text-align: center;
  font-weight: bold;
}
.fullProfileCont .contactText {
  margin: 15px 10px;
}
.fullProfileCont .contactTextTitle {
  font-size: 14px;
  color: var(--red);
}
.fullProfileCont ::-webkit-scrollbar {
  width: 5px;
}
.fullProfileCont ::-webkit-scrollbar-track {
  background: var(--light-gray); 
}
.fullProfileCont ::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 10px;
}