/* Nav --------- */

.navCont {
  display: flex;
  justify-content: space-between;
  background-color: var(--red);
  height: 60px;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.navCont a {
  color: var(--white);
}
.navCont .logoCont {
  font-size: 20px;
  margin: 0 15px;
  display: flex;
}
.navCont .logoCont img {
  height: 35px;
}
.navCont .logoACont {
  display: flex;
  align-items: flex-end;
}
.navCont .logo {
  margin-left: 5px;
}
.navCont .linkCont {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.navCont .linkCont li {
  padding: 0 15px;
  line-height: 60px;
  color: white;
}
.navCont .linkCont li:hover {
  background-color: var(--gray);
  cursor: pointer;
}
.navCont .linkCont li:hover a {
  color: var(--black);
}
.navCont .linkCont .userInfoCont {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.navCont .linkCont .userInfoCont .userImg {
  width: 20px;
  height: 20px;
}
.navCont .linkCont .userImgCont {
  background-color: white;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
}
.navCont .linkCont .activeNav {
  background-color: var(--gray);
}

@media screen and (max-width: 400px) {
  .navCont .linkCont li {
    font-size: 14px;
    padding: 0 10px;
  }
}