/* Overview ------- */

.overviewCont {
  margin: 110px 60px 50px 60px;
}
.overviewCont .overviewTopCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;
}
.overviewCont .overviewBox  {
  width: 100%;
  height: 125px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
}
.overviewCont .pendingAppCont {
  background-color: var(--dark-blue);
  color: var(--white);
}
.overviewCont .overviewBox:hover {
  box-shadow: 1px 2px 10px var(--light-gray);
}
.overviewCont .overviewBox .overviewTitle {
  margin: 0;
}
.overviewCont .overviewBox .overviewNumber {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

/* Pending ----- */

.overviewCont .overviewBottomCont {
  margin: 50px 0;
}
.overviewBottomCont .pendingTableCont {
  background-color: white;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
}
.pendingTableCont .pendingTableTitleCont {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  padding: 0 20px;
}
.pendingTableCont .rowCont {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
}
.pendingTableCont .rowCont:hover {
  background-color: var(--light-gray);
  box-shadow: 1px 2px 10px var(--light-gray);
}
.pendingTableCont .rowCont .rowAnImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.pendingTableCont .rowNameCont, .pendingTableCont .rowActionsCont {
  display: flex;
}
.pendingTableCont .rowActionsCont .actionButton {
  border: none;
  height: 35px;
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  line-height: 35px;
  text-align: center;
  background-color: var(--white);
}
.pendingTableCont .rowActionsCont .actionButton:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}
