/* Side Nav --------- */

.sidenavUserCont {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: var(--white);
  position: fixed;
  left: 0;
  bottom: 0;
  top: 50px;
  box-shadow: 1px 7px 15px var(--light-gray);
}
.sidenavUserCont .linkCont {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.sidenavUserCont .linkCont:hover {
  background-color: var(--red);
  color: var(--white);
}

.sidenavUserCont .userCont {
  background-color: var(--light-red);
  padding: 30px 20px 10px 20px;
}
.sidenavUserCont .userCont .imgCont {
  width: 60px;
  height: 60px;
  background-color: var(--white);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidenavUserCont .userCont .imgCont .userImg {
  height: 35px;
  width: 35px;
}
.sidenavUserCont .userCont .userTextCont {
  margin-top: 20px;
}
.sidenavUserCont .userCont .userName {
  margin-bottom: 10px;
}
.sidenavUserCont .userCont .userEmail {
  margin-top: 0;
  font-size: 13px;
}