/* Signin ------- */

.bottomCont {
  position: relative;
  height: 300px;
  width: 650px;
  margin: 50px auto;
  display: flex;
}
.userColor {
  background-color: var(--red);
}
.orgColor {
  background-color: var(--dark-blue);  
}
.bottomCont .leftCont, .bottomCont .rightCont {
  padding: 25px 35px;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
}
.bottomCont .leftCont h1, .bottomCont .rightCont h1 {
  margin-top: 0;
  color: var(--white);
}
.upperCont {
  background-color: white;
  width: 50%;
  height: 115%;
  position: absolute;
  right: 25px;
  top: -20px;
  box-shadow: 2px 3px 10px var(--dark-gray);
}
.upperCont h1 {
  text-align: center;
}
.slideLeft {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes slideLeft {
  0% { right: 25px; }
  99% { right: 302px; }
  100% { right: 300px; }
}
.slideRight {
  animation-name: slideRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes slideRight {
  0% { right: 300px; }
  99% { right: 23px; }
  100% { right: 25px; }
}


/* Signin Form -------- */

.methodCont {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.methodButtonOrg, .methodButtonUser {
  margin: 0;
  padding: 0;
  line-height: 30px;
  width: 100px;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}
.methodButtonOrg:hover {
  border-bottom: 2px solid var(--dark-blue);
}
.methodButtonUser:hover {
  border-bottom: 2px solid var(--red);
}
.methodCont .activeOrg {
  border-bottom: 2px solid var(--dark-blue);
}
.methodCont .activeUser {
  border-bottom: 2px solid var(--red);
}


.formCont {
  padding: 0 30px;
}
.formCont .inputCont {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.formCont .inputCont .inputIcon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  opacity: 0.7;
}
.formCont .inputCont input {
  flex: 2;
  height: 25px;
  box-shadow: inset 1px 1px 4px var(--light-gray);
  border: none;
  border-radius: 10px;
  padding: 3px 15px;
}
.formCont .inputCont input:focus {
  outline: transparent;
}
.formCont button {
  border: none;
  height: 35px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 100px;
  float: right;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 10px;
}
.formCont .submitButtonOrg:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}
.formCont .submitButtonUser:hover {
  background-color: var(--red);
  color: var(--white);
}
.formCont button:focus {
  outline: transparent;
}